kind: CronJob
apiVersion: batch/v1beta1
metadata:
  name: cronjob-prune-images
  namespace: "{{ meta.namespace }}"
spec:
  schedule: "{{ images.schedule }}"
  concurrencyPolicy: Forbid
  successfulJobsHistoryLimit: 5
  failedJobsHistoryLimit: 1
  jobTemplate:
    spec:
      template:
        spec:
          containers:
          - name: cronjob-prune-images
            image: "{{ image }}:{{ image_version }}"
            command:
            - "/bin/bash"
            - "-c"
            - oc adm prune images --keep-tag-revisions=$IMAGE_PRUNE_KEEP_TAG_REVISIONS
              --keep-younger-than=$IMAGE_PRUNE_KEEP_YOUNGER_THAN {% if images.ignore_invalid_refs | default(false) %}--ignore-invalid-refs {% endif %}--confirm
            env:
            - name: IMAGE_PRUNE_KEEP_TAG_REVISIONS
              value: "{{ images.keep_tag_revisions }}"
            - name: IMAGE_PRUNE_KEEP_YOUNGER_THAN
              value: "{{ images.keep_younger_than }}"
          restartPolicy: Never
          terminationGracePeriodSeconds: 30
          activeDeadlineSeconds: 500
          dnsPolicy: ClusterFirst
          serviceAccountName: pruner
          serviceAccount: pruner
