kind: ClusterRoleBinding
apiVersion: v1
metadata:
  namespace: "{{ meta.namespace }}"
  name: system:build-pruners
  labels:
    operator: cluster-ops-operator
roleRef:
  name: cluster-admin
subjects:
- kind: ServiceAccount
  name: pruner
userNames:
- system:serviceaccount:{{ meta.namespace }}:pruner
