kind: CronJob
apiVersion: batch/v1beta1
metadata:
  namespace: "{{ meta.namespace }}"
  name: "cronjob-prune-resources-deployments"
spec:
  schedule: "{{ deployments.schedule }}"
  concurrencyPolicy: Forbid
  successfulJobsHistoryLimit: 5
  failedJobsHistoryLimit: 1
  jobTemplate:
    spec:
      template:
        spec:
          containers:
          - name: "cronjob-prune-resources-deployments"
            image: "{{ image }}:{{ image_version }}"
            command:
            - "/bin/bash"
            - "-c"
            - oc adm prune deployments --keep-complete=$KEEP_COMPLETE --keep-failed=$KEEP_FAILED
              --keep-younger-than=$KEEP_YOUNGER_THAN --orphans=$PRUNE_ORPHANS --confirm
            env:
            - name: KEEP_COMPLETE
              value: "{{ deployments.keep_complete }}"
            - name: KEEP_FAILED
              value: "{{ deployments.keep_failed }}"
            - name: KEEP_YOUNGER_THAN
              value: "{{ deployments.keep_younger_than }}"
            - name: PRUNE_ORPHANS
              value: "{{ deployments.prune_orphans }}"
          restartPolicy: Never
          terminationGracePeriodSeconds: 30
          activeDeadlineSeconds: 500
          dnsPolicy: ClusterFirst
          serviceAccountName: "pruner"
          serviceAccount: "pruner"
